body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-color: #000715; /* 000d15 //   */
}

h2 {
  color: #000715;
  font-size: 2rem;
  font-family: monospace;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.testBtn {
  width: 250px;
  height: 100px;
  border: none;
  border-radius: 1000px;
  background-color: white;
  transition: all 250ms ease;
}

.transition:hover {
  width: 300px;
  background-color: rgb(0, 255, 170);
}

.shadow:hover {
  box-shadow: 0 1.9rem 2.5rem rgba(0, 255, 170, 0.7);
  transform: translate(0, -1rem);
}

.txt_invert_border {
  width: 250px;
  height: 100px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease;
  position: relative;
}
::after {
  transition: all 250ms ease;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5rem;
  background-color: rgb(0, 255, 170);
}
.invert_border:hover ::after {
  width: 100%;
}

div#circle {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid white;
  border-radius: 50%;
  position: relative;
  animation: circle 2s infinite forwards;
}

div#square {
  width: 75px;
  height: 75px;
  border: 5px solid rgb(0, 255, 170);
  animation: square 2s infinite ease-in-out alternate-reverse;
}

@keyframes circle {
  0% {
    border-color: rgb(0, 255, 170);
    transform: scale(1);
  }
  25% {
    border-color: white;
    transform: scale(1.1);
  }
  50% {
    border-color: rgb(0, 255, 170);
    transform: scale(1.3);
  }
  75% {
    border-color: white;
    transform: scale(1.1);
  }
  100% {
    border-color: rgb(0, 255, 170);
    transform: scale(1);
  }
}

@keyframes square {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-color: rgb(0, 255, 170);
    border-width: 10px;
  }
  50% {
    border-color: white;
    border-width: 20px;
  }
  75% {
    border-color: rgb(0, 255, 170);
    border-width: 30px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 5px;
  }
}
